<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#ModalLogin" 
        type="submit">Login</button>
    </div>
  </div>
</nav>


<!-- Modal -->
<div class="modal fade" id="ModalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Iniciar sesion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="mb-3">
          <label for="username" class="form-label">Ingrese su usuario</label>
          <input type="email" class="form-control" id="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Ingrese su contraseña</label>
          <input type="email" class="form-control" id="password">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onLogin()">Iniciar Sesion</button>
      </div>
    </div>
  </div>
</div>
