<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    @if(!isLogginOn){  <!--provisorio-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="btn btn-primary ms-auto" (click)="openLogin()" type="submit">Login</button>
      </div>
    }@else{
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="btn btn-danger ms-auto" type="submit">Log out</button>
      </div>
    }
  </div>
</nav>

<app-login-modal (status)="closeLogin($event)"></app-login-modal>



