<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    @if(!auth.isLogginIn()){  <!--provisorio-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="btn btn-primary ms-auto" (click)="openLogin()" type="submit">
            <i class="bi bi-box-arrow-in-right"></i>
            Login
          </button>
      </div>
    }@else{
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button id="btn-Logut" class="btn btn-danger ms-auto" (click)="auth.logout()" type="submit">
            <i class="bi bi-box-arrow-right"></i>
            Logout
          </button>
      </div>
    }
  </div>
</nav>

<app-login-modal (status)="closeLogin($event)"></app-login-modal>



